*{
    padding: 0;
    margin: 0;
}
body{
    height: 2000px;
}
/* .round{
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: fixed;
    left: 200px;
    top: 200px;
}
.parent{
    width: 100px;
    height: 50px;
    background-color: red;
    margin-top: 200px;
    position: relative;
}
.child{
    width: 200px;
    height: 200px;
    background-color: aqua;
    opacity: 0.5;
    opacity: 0.7;
    position: absolute;
    top: 10px;
    left: 10px;
} */

ul li{
    list-style-type: none;
}
ul.menu{
    width: 500px;
    margin: 0 auto;
}
ul.menu> li{
    display: inline-block;
    padding: 0 30px;
    height: 40px;
    line-height: 40px;
    background-color: aqua;
    position: relative;
}
ul.menu >li > ul{
    width: 200px;
    background-color: red;
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
}
ul.menu> li:hover >ul{
    display: block;
}
ul.menu ul ul{
    display: none;
    width: 200px;
    background-color: yellow;
    position: absolute;
    left: 30px;
    top: 80px;
}
.menu > li >ul>li:hover ul{
    display: block;
}

.color{
    position: relative;
}
.color div{
    width: 50px;
    height: 50px;
    position: absolute;
}
.red{
    background-color: red;
    z-index: 2;
}
.green{
    background-color: green;
    z-index: 1;
}
.blue{
    background-color: blue;
}
.color div:nth-child(2){
     top: 10px;
    left: 10px;
}
.color div:nth-child(3){
    top: 20px;
   left: 20px;
}
.row{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    flex-wrap: wrap;
    background-color: aqua;
    align-items: flex-end;
}
.col{
    border: 1px solid black;
    height: 50px;
    width: 30%;
    background-color: brown;
}